/**
 * #383a42
 * #e45649
 * #50a14f
 * #c18401
 * #4078f2
 * #a626a4
 * #0184bc
 * #a0a1a7
 * #696c77
 * #fafafa
 */

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: table;
  margin: 0;
  width: 100%;
  background-color: white;
  color: #383a42;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

main {
  display: table-cell;
  vertical-align: middle;
  padding: 50px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

a {
  color: #383a42;
}

a:hover {
  color: #4078f2;
}

p a + a {
  margin-left: 10px;
}
