:root {
  --background: white;
  --main: #28292b;
  --accent: #ff7e8d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #28292b;
    --main: white;
  }
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding-bottom: 2rem;
  background-color: var(--background);
  color: var(--main);
  text-align: left;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01rem;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre,
code {
  font-size: 0.9em;
  font-feature-settings: normal;
}

pre {
  overflow-x: auto;
  line-height: 1.25;
}

time {
  white-space: nowrap;
}

a {
  color: var(--main);
  transition: color 200ms;
}

a:hover,
a:focus {
  color: var(--accent);
}

a[data-anchor] {
  visibility: hidden;
  text-decoration: none;
}

:hover > a[data-anchor],
:focus > a[data-anchor] {
  visibility: visible;
}

li {
  margin-bottom: 0.5rem;
}

li ul {
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
}

body > header,
body > main,
body > article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 900px;
}

main li a {
  margin: 0;
  margin-right: 0.3rem;
}

footer {
  margin-top: 1rem;
}
