extend layout

block title
  title Links

block meta
  meta(name='description', content='Links collection from notes')
  meta(property='og:title', content='Links')
  meta(property='og:description', content='Links collection from notes')
  meta(property='og:url', content=site.site_url + 'links/')
  meta(property='og:type', content='article')
  meta(property='og:image', content='https://github.com/andrepolischuk.png')
  meta(name='twitter:image', content='https://github.com/andrepolischuk.png')

block header
  a(href='/')= site.title

block content
  article
    header
      h1 Links

    ul
      each link in links
        li
          a(href=link)= link
